@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap");

h1 {
    font-size: 2rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1rem;
  }

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .branding {

  }
  