@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap");

h1 {
    font-size: 2rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1rem;
  }

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .branding img {
    padding: 1rem;
}
  
  